<section *ngIf="!isAuthenticated">
  <h4>登入帳號</h4>

  <form [formGroup]="formModel" (ngSubmit)="onSubmit()">
    <div>
      <input formControlName="email" type="email" id="email" placeholder="電子郵件(用於帳號登入)">
    </div>
    <div>
      <input formControlName="password" type="password" id="password" placeholder="密碼">
    </div>
    <button [disabled]="formModel.invalid" type="submit">登入</button>
  </form>
</section>
<section *ngIf="isAuthenticated">
  <h3>你好：
    <span id="userEmail">{{this.formModel.value.email}}</span>
  </h3>
  <button id="logoutBtn" (click)="logout()">登出</button>
</section>
