<div>
  <div>用戶註冊</div>
  <div>
    <form #registerForm="ngForm">
      <div [ngClass]="{'has-error':userName.invalid && (userName.dirty|| userName.touched)}">
        <label>用戶名：</label>
        <div>
          <input type="email" placeholder="Email" #userName="ngModel" name="userName" [(ngModel)]="regModel.userName" required minlength="12" maxlength="32">
          <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" style="background-color: red;">
            <div *ngIf="userName.errors.required">
              用戶不能為空
            </div>
            <div *ngIf="userName.errors.minlength">
              最小長度不能小於12個字節
            </div>
            <div *ngIf="userName.errors.maxlength">
              最小長度不能小於32個字節
            </div>
          </div>

        </div>
      </div>

      <div>
        <label>手機號</label>
        <div>
          <input placeholder="Mobile" #mobile="ngModel" name="mobile" [(ngModel)]="regModel.mobile" ChineseMobileValidator>
          <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" style="background-color: red;">
            請輸入合法的手機號
          </div>
        </div>
      </div>

      <div>
        <label>密碼：</label>
        <div>
          <input type="password" name="password" placeholder="Password" #pwd="ngModel" [(ngModel)]="regModel.password">
        </div>
      </div>

    </form>

    <div>
      <p>用戶名：{{userName.value}}
        {{userName.valid}}
        {{userName.invalid}}
        {{userName.pending}}
        {{userName.pristine}}
        {{userName.dirty}}
        {{userName.untouched}}
        {{userName.touched}}
      </p>
      <p>密碼：{{pwd.value}}</p>
      <p>手機號:{{mobile.value}}</p>
      <!-- <pre>{{registerForm.value |json }}</pre> -->
      <p>表單值 value:{{registerForm.value |json }}</p>
      <p>表單狀態 valid:{{registerForm.valid}}</p>
      <p>表單狀態 invalid:{{registerForm.invalid}}</p>
      <p>表單狀態 pending:{{registerForm.pending}}</p>
      <p>表單狀態 pristine:{{registerForm.pristine}}</p>
      <p>表單狀態 dirty:{{registerForm.dirty}}</p>
      <p>表單狀態 touched:{{registerForm.touched}}</p>
    </div>

  </div>
</div>
