<!-- <app-parent-and-child></app-parent-and-child> -->
<!-- <app-brother></app-brother> -->
<!-- <app-local-storage></app-local-storage> -->
<!-- 動畫 -->
<!-- <app-test-fly-in></app-test-fly-in> -->

<!-- 動態組件 -->
<!-- <app-dynamic-comp></app-dynamic-comp> -->

<!-- lession2-8  ShadowDOM組件 -->
<!-- <shadow-dom-mode></shadow-dom-mode>
<emulate-mode></emulate-mode>
<none-mode></none-mode> -->

<!-- lession2-9:內容投影 -->
<!-- <app-test-ng-content>
  <div>最簡單的投影</div>
</app-test-ng-content> -->

<!-- <app-test-ng-content>
  <app-child-one (myEvent)="fatherDoSomething($event)"></app-child-one>
</app-test-ng-content> -->

<!--多個投影-->
<!-- <app-test-ng-content>
  <h3>這是父層投影進來的內容</h3>
  <p class=my-class>利用CSS選擇器</p>
  <p>這是底部內容</p>
</app-test-ng-content> -->

<!--投影一個複雜的組件-->
<!-- <test-ng-content2></test-ng-content2> -->


<!-- lession2-10:@ContentChild & @ContentChildren -->
<!-- <app-test-content-child></app-test-content-child> -->

<!-- lession2-11:@ViewChild & ViewChildren -->
<!-- <app-test-view-child></app-test-view-child> -->


<!-- lession3-2:自定義指令 -->
<!-- <p MyHighLight highligtColor="#ff3300">內容高亮顯示</p>

<div *ngFor="let item of [1,2,3]">
  <app-card *appDelay="500 * item">
    第{{item}}張卡片
  </app-card>
</div> -->

<!-- lession3-3:直接在組件里面操作DOM -->
<app-test3a3 highlightColor="#F2DEDE">

</app-test3a3>
